
@{
    ViewBag.Title = "Certificate of Insurance";
}

<div class="bubble">
    <div class="rectangle">
        <h2>CERTIFICATE OF INSURANCE</h2>
    </div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>

    <div class="main">
        <div style="text-align: left; width: 100%; padding: 40px 50px 40px 50px;">
            <p>
                Please note that all certificates of insurance, with the exception of event certificates of insurance, 
                can be requested during the process of adding/editing an exposure.
            </p>
            <a href="/MemberCov/SchedulePsychiatry">Behavioral Health Provider</a><br />
            <a href="/MemberCov/ScheduleProperty">Property</a><br />
            <a href="/MemberCov/ScheduleVehicle">Automobile</a><br />
            <br /><br />
            <p>
                To request an event certificate of insurance, simply complete the linked form below.  Please note that the requirements for
                certificates vary by coverage line, but the generally required information includes:
            </p>
            <ul>
                <li>name and address of certificate holders,</li>
                <li>type of coverage requested,</li>
                <li>limits of coverage requested,</li>
                <li>location of the event,</li>
                <li>description of the event, and</li>
                <li>event dates.</li>
            </ul>
            <br /><br />
            <a href="/documents/certificate/EventCOIRequest.pdf" target="_blank">Event certificate of insurance request</a><br />
            <a href="~/documents/autocards/@BHIP.Model.Helper.MemberInformation.GetAutoCard()" target="_blank">Auto ID cards</a><br />

        </div>
    </div>
</div>
