@{
    ViewBag.Title = "ClaimProperty";
}
<script src="@Url.Content("~/Scripts/Fileuploader.js")" type="text/javascript"></script>
<div class="bubble">
    <div class="rectangle">
        <h2>REPORT A PROPERTY CLAIM</h2>
    </div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>

    <div class="main">
        <div style="text-align: left; width: 100%; padding: 40px 50px 40px 50px;">
@using (Html.BeginForm("SavePropertyClaim", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
            <p>
                The <a href="~/documents/claims/PropertyLossForm.pdf" target="_blank">Property Loss Report Form</a> should be used to report actual or potential property claims arising from business operations.
            </p>
            <span class="paragraph-head">Guidelines</span>
            <p>
                Below is a list of sample incidents/occurrences that may result in the filing of a loss report.
            </p>
            <ul style="list-style-type: decimal;">
                <li>Direct physical damage to building or personal property, including fire, theft, storm, or water damage</li>
                <li>Damage to your HVAC or electrical system</li>
            </ul>
            <p>
                @*Please email the completed loss form to <a href="mailto:AdminBHIP@BHIPAZ.org">AdminBHIP@BHIPAZ.org</a>.*@
                  Please attach the completed loss form and supporting documents below and submit.
            </p>
            <div>
                <p>
                    <span class="paragraph-head">File Upload</span>
                    <table>
                        <tr>
                            <td>
                                <span style="color: red">@ViewBag.FileNotSelected</span><br />



                            </td>
                            <td></td>
                            <td>

                                <div id="pnlFiles" style="width:350px;text-align:left;">
                                    <input type="file" name="file" id="file" accept="application/pdf" multiple="multiple" />
                                </div>
                                <div id="pnlListBox" style="border-style:Inset;height:119px;width:350px;overflow:auto;">
                                </div>
                                <input id="btnAdd" onclick="javascript: Add();" style="width: 60px" type="button"
                                       runat="server" value="Add" />
                                <input id="btnClear" onclick="javascript: Clear();" style="width: 60px" type="button"
                                       value="Clear" runat="server" />
                                <br />
                                <span id="lblCaption"></span>
                                <br />
                                <input type="submit" id="btnSubmit" style="width: 60px" value="Submit" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </p>
            </div>
}
        </div>
    </div>
</div>

