<div class="bubble">
    <div class="rectangle">
        <h2>COVERAGE INFORMATION</h2>
    </div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>

    <div class="main">
        <div style="text-align: left; width: 100%; padding: 40px 50px 40px 50px;">
            <p>
                BHIP offers its members professional liability, general liability, property, boiler and machinery, earthquake and flood, auto, crime,
                fiduciary liability, directors and officers coverage, and other special coverages.
            </p>
            <p>
                The Coverage Summary table provides a quick overview of the lines of coverage, the insurance carrier, policy number, effective dates, and insurance carrier ratings.
            </p>
            <a href="~/documents/coverages/SummaryofInsuranceCoverage.pdf" target="_blank">View Summary of Insurance Coverage</a><br />
            <br />
            <span class="paragraph-head">Coverage Description</span>
            <p>
                The Coverage Description is a summary of the each of the lines of insurance coverage. It details the coverage, limits of liability, deductible, and covered endorsements.
            </p>
            <a href="~/documents/coverages/CoverageDescription.pdf" target="_blank">View Coverage Description</a><br />
            <br />
            <span class="paragraph-head">Coverage Policies</span>
            <p>
                The links below are the complete insurance policies, including any endorsements, from each of the insurance carriers.
            </p>
            <a href="~/documents/coverages/AutoPolicy.pdf" target="_blank">Auto Policy</a><br />
            <a href="~/documents/coverages/CrimePolicy.pdf" target="_blank">Crime Policy</a><br />
            <a href="~/documents/coverages/DOPolicy.pdf" target="_blank">D&O Policy</a><br />
            <a href="~/documents/coverages/ExcessDOPolicy.pdf" target="_blank">Excess D&O Policy</a><br />
            <a href="~/documents/coverages/EnvironmentalPolicy.pdf" target="_blank">Environmental Policy</a><br />
            <a href="~/documents/coverages/CyberPolicy.pdf" target="_blank">Cyber Policy</a><br />
            <a href="~/documents/coverages/FiduciaryPolicy.pdf" target="_blank">Fiduciary Policy</a><br />
            <a href="~/documents/coverages/PrimaryPLGLPolicy.pdf" target="_blank">PL-GL-SML Policy</a><br />
            <a href="~/documents/coverages/PropertyPolicy.pdf" target="_blank">Property Policy</a><br />
            <a href="~/documents/coverages/UmbrellaPolicy.pdf" target="_blank">Umbrella Policy</a><br />
            <a href="~/documents/coverages/SpecialPolicy.pdf" target="_blank">Special Policies</a><br />
        </div>
    </div>
</div>