@using BHIP.Model.Helper;
@{
    ViewBag.Title = "Index";
}
@section Scripts {}

<div>
    <img src="~/Content/images/HomePage.jpg" />
    <div style="text-align: left; width: 100%; padding: 10px 50px 40px 50px;">
        <div class="Large-title" style="margin-bottom: 20px;">
            Welcome
        </div>
        <br />
        <p>
            The Behavioral Health Insurance Pool, Inc. (BHIP), is a nonprofit risk-sharing pool whose members are licensed to 
            provide behavioral health services in the state of Arizona. BHIP was established in 2004, and is structured as a 
            self-insurance pool that is owned and governed by its members. The pool offers coverage in the 
            following areas: professional liability, general liability, property, boiler and machinery, earthquake and flood, 
            auto, crime, fiduciary liability, directors and officers, and other special coverages.
        </p>
    </div>

</div>


