
@{
    ViewBag.Title = "Resources & Training";
}

<div class="bubble">
    <div class="rectangle">
        <h2>Resources & Training</h2>
    </div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>

    <div class="main">
        <div style="text-align: left; width: 100%; padding: 40px 50px 40px 50px;">
            <a href="" target="_blank">OIG Audit Hit List (video)</a><br />
            <a href="" target="_blank">Due Diligence Acquisition Checklist</a><br />
            <a href="" target="_blank">Facility Use Agreement</a><br />
            <a href="" target="_blank">Fleet Safety Program</a><br />
        </div>
    </div>
</div>

